[submodule "Packages/LightingTools.LightProbesVolumes"]
	path = Packages/LightingTools.LightProbesVolumes
	url = https://github.com/laurenth-personal/LightingTools.LightProbesVolumes.git
[submodule "Packages/net.peeweek.third-person-controller"]
	path = Packages/net.peeweek.third-person-controller
	url = https://github.com/peeweek/net.peeweek.third-person-controller.git
